{
    "rules": {
        "no-console": 0,
        "no-extra-semi": 0,
        "indent": ["error", 4],
        "semi": 0,
        "no-unused-vars": 0,
        "space-before-function-paren": 0,
        "comma-dangle": 0
    },
    "extends": [
        "plugin:vue-libs/recommended"
    ],
    "parser": "babel-eslint",
    "globals": {
        "FormData": false,
        "localStorage": false
    }
}
